<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" >
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    {% block head%}{% endblock %}
</head>
<body>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <button class="toggle-button" onclick="toggleDarkMode()">Toggle Dark Mode</button>
    {% block body%}{% endblock %}
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
            navigator.serviceWorker.register('/static/service-worker.js')
              .then(registration => console.log('Service Worker registered with scope:', registration.scope))
              .catch(error => console.error('Service Worker registration failed:', error));
    });
  }
        function toggleDarkMode() {
            document.body.classList.toggle('dark-mode');    
        }
    </script>
</body>

</html>