{% extends 'base.html' %}

{% block title%}
Medicine Buddy
{% endblock %}

{% block head%}
<h1>Find your drug below and click GO to find equivelents</h1>
{% endblock %}

{% block body%}
<div class= "content"; style="text-align: center">
  <a target="_blank" href="https://icons8.com/icon/spI43Cg8MTCV/reminders">App</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
  <a href="{{url_for('home')}}">HOME</a>
  <h1>Drug Chooser</h1>
  

  <table class = "center">
    <tr>
      <!-- <th>Code</th> --> 
      <th>Name </th>  
      <!--<th>ATC</th>  -->
      <th>Form</th>  
     <!-- <th>Packsize</th>  -->   
      <th>Pack Price</th>
      <th> </th>
    </tr>
    {% for drug in drugs %}
    <tr>
        <!--<td>{{drug.code}}</td>-->
        <td>{{drug.name}} ({{drug.pack_size}})</td>
        <!--<td>{{drug.atc_code}}</td>-->
        <td>{{drug.dosage_form}}</td>
        <!--<td>{{drug.pack_size}}</td>-->
        <td>{{drug.pack_price}}</td>
        <td> 
          <a href="{{ url_for('fetch', drug_dosage_form=drug.dosage_form, drug_atc_code=drug.atc_code) }}">GO</a>
        </td>
    </tr>
    
    {% endfor %}

  </table>
  <a href="/home">HOME</a>
</div>


{% endblock %}

