{% extends 'base.html' %}

{% block title%}
Medicine Buddy
{% endblock %}

{% block head%}
<h1>Search for your medicine by name OR code</h1>
{% endblock %}

{% block body%}
<div class= "content"; style="text-align: center">
  <a target="_blank" href="https://icons8.com/icon/spI43Cg8MTCV/reminders">App</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
  <h1>Drug Lookup</h1>
  
  <div>
    
    <form action = "/find_by_code" method="post">  
      <input type="text" name="code" id="code" placeholder="code" >
      <input type="submit" value="Search Code">
    </form>
    
    <form action = "/find_by_name" method="post">
      <input type="text" name="name" id="name" placeholder="name" >
      <input type="submit" value="Search Name">
    </form>
  </div>
</div>

</div>

{% endblock %}

